<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Protector OP — For The Win</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="/static/favicons/favicon-original.jpg" />
    <link rel="stylesheet" href="/static/styles.css" />

    <script src="/static/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>

    <style>
        /* tips.html on hover */
        .card:hover {
            background-color: #0d6efd;
            /* Change to your desired hover color */
            color: white;
            /* Change to your desired text color on hover */
        }

        .card:hover .card-body .card-text a {
            background-color: #0d6efd;
            /* Change to your desired hover color */
            color: white;
            /* Change to your desired text color on hover */
        }
    </style>
</head>

<body>
    <!-- light navbar -->
    <nav class="navbar navbar-primary bg-primary fixed-top">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="/">
                <!-- Home -->
                <button class="btn btn-md btn-outline-dark">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path
                                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                        </svg>
                        Home
                    </div>
                </button>
            </a>
            <!-- Title -->
            <span class="navbar mb-0 h1 title-color">Protector OP — For The Win</span>

            <!-- Right part -->
            <div>
                <!-- dark mode -->
                <button id="dark-mode-toggle" class="btn btn-md btn-outline-dark">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-moon-stars-fill" viewBox="0 0 16 16">
                            <path
                                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
                            <path
                                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
                        </svg>
                        Dark Mode
                    </div>
                </button>

                <!-- light offcanvas -->
                <button class="navbar-toggler hover-bg-beige" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                            Features Hub
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li>
                                <hr class="list-divider" />
                            </li>
                            <li class="nav-item">
                                <a class="hover-bg-red nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li>
                                <hr class="list-divider" />
                            </li>
                            <li class="nav-item dropdown">
                                <a class="hover-bg-red nav-link active" aria-current="page"
                                    href="/caesar-cipher">Cryptographic Algorithms</a>
                            </li>
                            <li>
                                <hr class="list-divider" />
                            </li>
                            <li class="nav-item">
                                <a class="hover-bg-red nav-link" href="/zero-width-stego">Zero-Width
                                    Characters Based Steganography</a>
                            </li>
                            <li>
                                <hr class="list-divider" />
                            </li>
                            <li class="nav-item">
                                <a class="hover-bg-red nav-link" href="/strong-pass">Strong Random Password Generator</a>
                            </li>
                            <li>
                                <hr class="list-divider" />
                            </li>
                            <li class="nav-item">
                                <a class="hover-bg-red nav-link" href="/pass-strength">Password Strength Tester</a>
                            </li>
                            <li>
                                <hr class="list-divider" />
                            </li>
                            <li class="nav-item">
                                <a class="hover-bg-red nav-link" href="/tips">Tips</a>
                            </li>
                            <li>
                                <hr class="list-divider" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <br /><br /><br /><br />

    <!-- masonry -->
    <div class="container">
        <div class="row">
            <div class="row" style="margin-top: 3rem; margin-bottom: 3rem;">
                <div class="col-md-6 offset-md-3 text-center">
                    <h2>Tips To Keep The Hackers At Bay</h2>
                </div>
            </div>
        </div>

        <div class="container" style="margin-bottom: 4rem;">
            <!-- <div class="container"> -->
            <!-- card ==> body, header & footer, Background and color , Border , quote, text alignment,
                    images (maybe), image overlays, horizontal (maybe) -->
            <div class="row" data-masonry='{"percentPosition": true }'>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">General</h5>
                            <h6 class="card-subtitle mb-2">#Tip1</h6>
                            <p class="card-text">Enable two-factor authentication (2FA). This adds an
                                extra layer of security. It can be like a text
                                message code (OTP) or biometric authentication.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">General</h5>
                            <h6 class="card-subtitle mb-2">#Tip4</h6>
                            <p class="card-text">Regularly review your account activity and monitor for any
                                unauthorized access or suspicious behavior. It can be done by analysing activity logs
                                or notifications that can alert you to potential security breaches.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Cryptographic Algorithms</h5>
                            <h6 class="card-subtitle mb-2">#Tip1</h6>
                            <p class="card-text">Familiarize yourself with commonly used cryptographic algorithms.
                                Understand their strengths and weaknesses to know which algorithms to use for password
                                security.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Cryptographic Algorithms</h5>
                            <h6 class="card-subtitle mb-2">#Tip4</h6>
                            <p class="card-text">Advantages of using cryptographic algorithms include
                                confidentiality, integrity, availability and authorized access.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Zero-Width Characters Steganography</h5>
                            <h6 class="card-subtitle mb-2">#Tip2</h6>
                            <p class="card-text">Be cautious when using zero-width characters for steganography, as
                                not all applications may handle them correctly. Test the compatibility and
                                readability of the steganographic text across different applications.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Strong Passwords</h5>
                            <h6 class="card-subtitle mb-2">#Tip3</h6>
                            <p class="card-text">Regularly monitor for security breaches. Use services like <a
                                    href="https://haveibeenpwned.com/">Have I
                                    Been Pwned</a> to check if your email address has been
                                compromised in any known data breaches.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Strong Passwords</h5>
                            <h6 class="card-subtitle mb-2">#Tip6</h6>
                            <p class="card-text">Use a random password generator that employs strong algorithms to
                                generate unpredictable strong passwords.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Strong Passwords</h5>
                            <h6 class="card-subtitle mb-2">#Tip9</h6>
                            <p class="card-text">Consider using password mnemonics, which are sentences or phrases
                                where each word's initial letter represents a character in your password. For example,
                                "I have 2 dogs named Max and Bella" can become "Ih2dnMaB!".</p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">General</h5>
                            <h6 class="card-subtitle mb-2">#Tip2</h6>
                            <p class="card-text">Keep backup options for 2FA in case you lose access to your primary
                                authentication device. It can include using backup codes or recovery keys.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">General</h5>
                            <h6 class="card-subtitle mb-2">#Tip5</h6>
                            <p class="card-text">Enable account recovery options such as secondary email addresses
                                or phone numbers, to regain access to your account in case of password loss or
                                compromise of account.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Cryptographic Algorithms</h5>
                            <h6 class="card-subtitle mb-2">#Tip2</h6>
                            <p class="card-text">Use strong cryptographic algorithms when transmitting sensitive data
                                over
                                insecure networks or storing it in databases.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Cryptographic Algorithms</h5>
                            <h6 class="card-subtitle mb-2">#Tip5</h6>
                            <p class="card-text">Not using cryptographic algorithms results in increased
                                risk of data tampering, lack of trust in unencrypted data and data vulnerability.</p>
                        </div>
                    </div>

                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Strong Passwords</h5>
                            <h6 class="card-subtitle mb-2">#Tip1</h6>
                            <p class="card-text">Use the following rules to create strong passwords
                            <ul>
                                <li>Password must have at least 12 characters.</li>
                                <li>Password must have at least one lowercase character.</li>
                                <li>Password must have at least one uppercase character.</li>
                                <li>Password must have at least one digit.</li>
                                <li>Password must have at least one number.</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Strong Passwords</h5>
                            <h6 class="card-subtitle mb-2">#Tip4</h6>
                            <p class="card-text">Regularly update your passwords to maintain their security. Set a
                                reminder to change passwords every few months or whenever there is a security breach.
                            </p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Strong Passwords</h5>
                            <h6 class="card-subtitle mb-2">#Tip7</h6>
                            <p class="card-text">Avoid using easily guessable information such as your name,
                                birthdate, or common words as passwords. Instead, use a combination of uppercase and
                                lowercase letters, numbers, and symbols.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Strong Passwords</h5>
                            <h6 class="card-subtitle mb-2">#Tip10</h6>
                            <p class="card-text">Avoid using dictionary words, names in your passwords. Instead
                                consider using passphrases that combine multiple words and are easy for you to remember
                                but difficult for others to guess.</p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">General</h5>
                            <h6 class="card-subtitle mb-2">#Tip3</h6>
                            <p class="card-text">Keep your devices and software up to date. Install the latest
                                security patches and updates to protect against known vulnerabilities.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">General</h5>
                            <h6 class="card-subtitle mb-2">#Tip6</h6>
                            <p class="card-text">Educate yourself about common social engineering tactics, such as
                                phishing emails or deceptive websites, and learn how to identify and avoid falling
                                victim to such attacks.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Cryptographic Algorithms</h5>
                            <h6 class="card-subtitle mb-2">#Tip3</h6>
                            <p class="card-text">Stay updated with the latest advancements in cryptographic
                                algorithms and security standards to ensure your password security practices align with
                                the industry best practices.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Zero-Width Characters Steganography</h5>
                            <h6 class="card-subtitle mb-2">#Tip1</h6>
                            <p class="card-text">Always use cryptographic algorithms to encrypt secret messages which
                                will be hidden in public messages.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Strong Passwords</h5>
                            <h6 class="card-subtitle mb-2">#Tip2</h6>
                            <p class="card-text">Be aware of social engineering techniques like phishing. Hackers may
                                try to manipulate you into revealing your password through phone call, phishing links.
                            </p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Strong Passwords</h5>
                            <h6 class="card-subtitle mb-2">#Tip5</h6>
                            <p class="card-text">Use password generation tools, password managers to create and store
                                complex passwords securely to use unique passwords for multiple accounts.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Strong Passwords</h5>
                            <h6 class="card-subtitle mb-2">#Tip8</h6>
                            <p class="card-text">Don't use same passwords across multiple accounts or applications. Each
                                account should
                                have a unique password to prevent unauthorized access in case one account gets
                                compromised.</p>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Strong Passwords</h5>
                            <h6 class="card-subtitle mb-2">#Tip11</h6>
                            <p class="card-text">Consider using a password manager tool that securely stores and
                                organizes your passwords.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>